@{
    ViewBag.Title = "NoManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No Manager In Your Directory</h2>

<p class="Steps">You cannot submit expense reports because you do not have a manager assigned to you (lucky you)</p>


<p>@Html.ActionLink("Back to Invoices", "Index")</p>