@{
    ViewBag.Title = "GettingStarted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Getting Started</h2>

<h3>Welcome to the Azure Active Directory Preview Demonstration Application</h3>

<p>
    This application has been written to provide you with a quick and easy way to set up your first application that connects seamlessly to Azure Active Directory. This demonstration application, written to run inside of Anzure WebWorker role, will provide you with glipses in to the Preview release of two great technonologies described below.
    </p>

    <h3>The Technologies In This Demo</h3>
<p>
    This website will demonstrate the following technologies from the Azure Active Directory from Microsoft:
    <ul>
        <li>Web Single Sign-In (SSO)</li>
        <li>Access to Azure Active Directory through a RESTful Graph API</li>
    </ul>

</p>
    <h4>Azure Active Directory WebSSO Preview</h4>

<p>

    With Azure Active Directory WebSSO, you will have the ability to seamlessly intergrate your application in to your customer's existing identity platform, while allowing them to use the same credentials they use in the office and online. 

    <h4>Azure Active Directory Graph API Preview </h4>
    <p>
        With Azure Active Directory Graph API, you will have the ability to access Azure Active Directory, which is built in to Azure Active Directory to build data driven applications using a REST based API. You can use this REST API to query your customer's data, navigate relationships within their directory, and customize your applicaitons based on this data.
    </p>
    <h4 class="NOTE">Important Note About The Preview</h4>

    This is a Preview release of the service, which means there may be changes to the content of this application as well as the structure and functionality of the associated APIs, 
</p>

<h2>How To Get This Code</h2>

<h3>In order to use this demo you will need to download:</h3>
<p>
    <ul>
        <li><a href="http://www.windowsazure.com/en-us/develop/downloads/">Windows Azure SDK</a></li>
        <li><a href="http://www.asp.net/mvc/mvc3">MVC3 Frameowrk from Web Components installation</a></li>
        <li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=17331">Windows Identity Foundation Runtime</a></li>
        <li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=4451">Windows Identity Foundation SDK</a></li>
        <li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=29306">WCF Data Services 5.0 for OData V3</a></li>
        <li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=17851">Microsoft .Net 4 or higher</a></li>
    </ul>
</p>