<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
  <!--Repalce the values below with your information for Azure. For more inforamtion, see the attached documentation-->
    <add name="DemoDatabase" connectionString="Server=tcp:<yourdatabasename>.database.windows.net,1433;Initial Catalog=DemoDatabase;User ID=<username>@<yourdatabasename>;Password=<yourpassword>;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <microsoft.identityModel>
    <service>
      <audienceUris xdt:Transform="Replace">
        <add value="spn:b6ff705d-aae6-4011-9759-82656d9d3981@e4073280-196b-408f-9d40-0be89978fda0" />
      </audienceUris>
      <federatedAuthentication xdt:Transform="Replace">
        <wsFederation passiveRedirectEnabled="false" issuer="https://accounts.accesscontrol.windows.net/v2/wsfederation" realm="spn:applicationID@dummy.host" reply="https://yourappname.cloudapp.net" requireHttps="false"/>
      </federatedAuthentication>
    </service>
  </microsoft.identityModel>
</configuration>