@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotAuthorized</h2>

<p>You are not authorized to use this application. Please contact your System Administrator to add you to the application.</p>
